.title {
    text-align: center;
    padding: 80px;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.project-img {
    width: 450px;
    height: 500px;
    border-radius: 10px;
}

.project_description {
    align-content: center;
    width: 200px;
}